@font-face {
  font-family: 'auto';
/*  src:  url('fonts/auto.eot?fxjn22');
  src:  url('fonts/auto.eot?fxjn22#iefix') format('embedded-opentype'),
    url('fonts/auto.ttf?fxjn22') format('truetype'),
    url('fonts/auto.woff?fxjn22') format('woff'),
    url('fonts/auto.svg?fxjn22#auto') format('svg');*/
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'auto' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "-";
}
.icon-email:before {
  content: "-";
}
.icon-arrowhead-pointing-to-the-right:before {
  content: "-";
}
.icon-exhaust-pipe:before {
  content: "-";
}
.icon-engine:before {
  content: "-";
}
.icon-gearshift:before {
  content: "-";
}
.icon-shop-cart:before {
  content: "-";
}
.icon-star:before {
  content: "-";
}
.icon-calendar:before {
  content: "-";
}
.icon-calendar-page:before {
  content: "-";
}
.icon-oil:before {
  content: "-";
}
.icon-balance:before {
  content: "-";
}
.icon-power:before {
  content: "-";
}
.icon-car-wheel:before {
  content: "-";
}
.icon-disc-brake:before {
  content: "-";
}
.icon-check:before {
  content: "-";
}
.icon-close-cross:before {
  content: "-";
}
.icon-clock:before {
  content: "-";
}
.icon-locate:before {
  content: "-";
}
.icon-favorite:before {
  content: "-";
}
.icon-interface:before {
  content: "-";
}
.icon-lines-menu:before {
  content: "-";
}
.icon-search:before {
  content: "-";
}
.icon-rocket:before {
  content: "-";
}
.icon-people-1:before {
  content: "-";
}
.icon-people:before {
  content: "-";
}
.icon-transport:before {
  content: "-";
}
.icon-people-2:before {
  content: "-";
}
.icon-people-3:before {
  content: "-";
}
.icon-settings:before {
  content: "-";
}
.icon-shape:before {
  content: "-";
}
.icon-squares:before {
  content: "-";
}
.icon-technology:before {
  content: "-";
}
.icon-tool:before {
  content: "-";
}
.icon-diploma:before {
  content: "-";
}
.icon-transport-1:before {
  content: "-";
}
.icon-mark:before {
  content: "-";
}
.icon-web-settings:before {
  content: "-";
}
.icon-arrow-left:before {
  content: "-";
}
.icon-arrow-right:before {
  content: "-";
}
.icon-arrows-2:before {
  content: "-";
}
.icon-behance-logo:before {
  content: "-";
}
.icon-facebook-logo:before {
  content: "-";
}
.icon-google-plus-logo:before {
  content: "-";
}
.icon-instagram-logo:before {
  content: "-";
}
.icon-linkedin-logo:before {
  content: "-";
}
.icon-tumblr-logo:before {
  content: "-";
}
.icon-twitter-logo:before {
  content: "-";
}
.icon-close:before {
  content: "-";
}
.icon-arrow_up:before {
  content: "-";
}
.icon-arrow_down:before {
  content: "-";
}
